@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Helvetica;
      font-weight: 400;
      src: url('./font/Helvetica.ttf') format("ttf");
    }
    @font-face {
      font-family: HelveticaLight;
      font-weight: 500;
      src: url('./font/helvetica-light-587ebe5a59211.ttf') format("ttf");
    }
  }